.container{
    display: grid;
    grid-template-rows:  auto auto;
    grid-gap: 0.5em;
    
  
}
.title{
    margin-top: 0.5em;
    display: grid;
	font-weight:bold ;
    justify-content: center;
}
.container-form{
    display: grid;
    justify-content: center;
    grid-gap: 1em;
}
.container-input{
    display: grid;
    grid-gap: 0.5em;
}
.dados{
    display:block;
    height: 1.4em;
    border-color: rgb(219, 217, 217);
	margin-top:0.3em;
    border-radius: 0.3em;
    border-width: 1px;
	width: 60vw;
}
.container-button{
    width: 20vw; 
    font-size: 1.2vw;
 	margin-left: 1.5vw;
}



@media screen and (min-width:769px) {
    .container{
        display: grid;
        grid-template-rows:  auto auto;
        grid-gap: 1em;
        
    
    }
    
    .title{
        display: grid;
        grid-row-start: 1;
        justify-content: center;
        align-items: center;
         
    }
    
    .container-form{
        display: grid;
        grid-template-rows: auto auto ;
        grid-gap: 1.5em;
        align-items: end;
    
    }
    .container-input{
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: auto auto;
        grid-gap: 1.5em;
        justify-content:center;
    }
    .campo{
        display:block;
        width: 47vw;
        height: 2em;
        margin-top:0.3em;
        border-color: rgb(219, 217, 217);
        border-radius: 0.3em;
        border-width: 1px;
    }
    
    .container-button{
        width: 10.5vw;
        font-size: 1.2vw;
        margin-left: 1.25vw;
        
    } 
}