<app-navbar></app-navbar>
<section class="container">
    <h1 class="title">Cadastrar Novo Contato</h1>
    <form class="container-form">
        <div class="container-input">
            <div class="input-form">
                <label for="name">Nome:</label>
                <input class="dados" id="name" name="name" type="text"  >
            </div>
            <div class="input-form">
                <label for="phone">Phone:</label>
                <input class="dados" id="phone" name="phone" type="tel" >
            </div >
            <div class="input-form">
                <label for="email">Email:</label>
                <input class="dados" id="email" name="email" type="email">
            </div>
        </div>	
        <button mat-raised-button  color= "primary" class="container-button">Salvar Contato</button>
    </form>
</section>
        
    
    
    