<app-navbar></app-navbar>
<section class="container">
    <h1 class="title">Cadastrar Novo Usuário</h1>
    <form class="container-form">
        <div class="container-input">
            <div class="input-dados">
                <label for="email">Email:</label>
                <input id="email" name="email" type="email"  class="campo">
            </div>
            <div class="input-dados">
                <label for="password">Senha:</label>
                <input id="password" name="password" type="password"  class="campo">
            </div >
            <div class="input-dados">
                <label for="name">Nome:</label>
                <input id="name" name="name" type="text"  class="campo">
            </div>
                <label class="checkbox"> <input type="checkbox">Administrador? </label>
        </div>	
        <button mat-raised-button  color= "primary" class="container-button">Salvar Usuário</button>
    </form>
</section>

